body {
  display: flex;
  background-color: #114B5F;
  text-align: center;
  flex-direction: column;
  padding-top: 2%;}
  

.container {
    width: 400px;
    height: 600px;
    background: #E4FDE1;
    margin: 10px auto;
}

img{
  width: 100px;
  height: 75px;
  margin: 0px;
  padding: 0px;
  display: block;
  box-sizing: border-box;
}

table {
  margin: 10px auto;
  border-collapse: collapse;
  border-spacing: 0;

/*
tr {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: 'Audiowide';
    color: #E4FDE1;
}
tr td {
    background: #456990;
    width: 30%;
    height: 150px;
    border: 1px solid #028090;
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
    padding-top: 3rem;
}

/*
.grid button {
    background-color: #cfcfcf;
    color: #003333;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #550000;
    outline: none;
    cursor: pointer;
  }
  
.empty {
    background: #DAD4EF;
    border: 2px solid #114B5F;
}

h1 {
    color: black;
    font-family: 'Sofia';
    text-align: center;
    
}

.footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer button {
    width: 100px;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding: 5px;
    margin: 10px;
    background-color: #D4EE9F;
    color: #003333;
    outline: none;
    cursor: pointer;
  }

  .footer button:hover {
    color: #D4EE9F;
    background-color: #003333;
  }
  
  .footer span {
    flex: 1;
    text-align: center;
    font-size: 20px;
    color: #D4EE9F;
    font-weight: bold;
    margin: auto 0;
  }
*/
