body {
  display: flex;
  background-color: #114B5F;
  text-align: center;
  flex-direction: column;
  padding-top: 2%;}
  

.container {
    width: 400px;
    height: 600px;
    background: #E4FDE1;
    margin: 10px auto;
}

img{
  width: 100px;
  height: 75px;
  margin: 0px;
  padding: 0px;
  display: block;
  box-sizing: border-box;
}

table {
  margin: 10px auto;
  border-collapse: collapse;
  border-spacing: 0;
}

